@import url('./base.css');
@import url('./noticias.css');
@import url('./components.css');
@import url('./clasificacion.css');
@import url('./resultados.css');
@import url('./jugadores.css');
@import url('./pichichi.css');
@import url('./jornada.css');
@import url('./directos.css');
@import url('./clubs.css');
@import url('./club-plantilla.css');
@import url('./home.css');    
@import url('admin.css');
